.outer {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: space-around;
}

.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.5rem;
  color: rgb(199, 199, 120);
  margin: 3rem;
}
